{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О сайте</title>
<link rel="stylesheet" href="{% static style.css %}">
</head>
<body>
<br>
</body>
</html>