{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новая новость</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css'%}">
    <style>
        label{
            font-family: "Ubuntu", sans-serif;
            font-size: 25px;
        }
        a{
            font-family: "Comic Sans MS", sans-serif;
        }
        #news{
            margin: 5px;
        }
    </style>
</head>
<body>
<a>{{ sended }}</a>
<div id="news">
    <form method="post">
        {% csrf_token %}
        <label>Заголовок новости <input name="label" type ="text" ></label><br>
        <label>Дата <input name ="date" type="date"></label><br>
        <label>Текст новости <input name="text" type="text"> </label><br>
        <button type="submit">Отправить</button>
    </form>
</div>
</body>
</html>