{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<link rel="stylesheet" href="{% static './style.css' %}" type="text/css" >
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script></head>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm">
        <form action="news" method="get">
    <button class="news" type="submit">Новости</button>
</form>
    </div>
    <div class="col-sm">
<form action="createnews" method="get">
    <button class="createn" type="submit" hidden="{{hide}}">Новая новость</button>
</form>
    </div>
    <div class="col-sm">
        <form action="about" method="get">
            <button type="submit" class="about">О сайте</button>
    </form>
    </div>
      <div class="col-sm">
        <form action="login" method="get">
            <button type="submit" class="about">Войти</button>
        </form>
      </div>
  </div>
</div>
</body>
</html>
