{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static style.css %}">
    <style>
        @font-face {
    font-family: 'Ubuntu Bold';
    src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url('../static/ubuntubold.woff2') format('woff2'), url('../static/ubuntubold.woff') format('woff'), url('../static/ubuntubold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
    input{
        font-family: "Ubuntu Bold", serif;
        border-style: ridge;
        border-radius: 10px;
        margin: 10px;
    }
    label{
        font-family: "Ubuntu Bold", serif;
        font-size: 20px;
        font-style: initial;
    }
    button{
        left: auto;
    }
</style>
</head>
<body>
<h2>{{ extra }}</h2>
<label>Login form:</label>
<form action="login" method="post">
    {% csrf_token %}
    <label>
        Имя:<br>
        <input placeholder="Имя пользователя" name="nick" type="text">
    </label><br>
    <label>
        Пароль:<br>
        <input placeholder="password" name ="passw" type="password" >
    </label><br>
    <button type="submit">Log in</button>
</form>
<form action="register" method="get">
    <button type="submit">Register</button>
</form>
</body>
</html>