<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новости</title>
    <link href="https://fonts.googleapis.com/css?family=Comic+Sans+MS&display=swap" rel="stylesheet" />
    <style>
        label{
            font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
            font-size: 40px;
            align-content: center;
            alignment: center;
            margin: 0;
        }
        @font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url('../static/ubuntubold.woff2') format('woff2'), url('../static/ubuntubold.woff') format('woff'), url('../static/ubuntubold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
        a{
            font-size: 25px;
            font-family: "Ubuntu", sans-serif;
        }
        span {
            font-size: 35px;
            font-family: "Ubuntu", sans-serif;
            text-align: center;
        }

    </style>
</head>
<body>
<div>
{% for i in news %}
    {% if i.published %}
    <label id="news">{{ i.label }}</label><br>
    <a>{{ i.text }}</a> <br>
    {% endif %}
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if news.has_previous %}
            <a class="v1_2 v1_3 v8_6" href="?page=1">&laquo; first</a>
            <a class="v1_2 v1_3 v8_6" href="?page={{ news.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ news.number }} of {{ news.paginator.num_pages }}.
        </span>
        {% if news.has_next %}
            <a class="v1_2 v1_3 v8_6" href="?page={{ news.next_page_number }}">next</a>
            <a class="v1_2 v1_3 v8_6" href="?page={{ news.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>
</body>
</html>