{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static style.css %}">
    <style>
        @font-face {
    font-family: 'Ubuntu Bold';
    src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url('../static/ubuntubold.woff2') format('woff2'), url('../static/ubuntubold.woff') format('woff'), url('../static/ubuntubold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
    input{
        border-style: ridge;
        border-radius: 10px;
    }
    label{
        font-family: "Ubuntu Bold", serif;
        font-size: 20px;
        font-style: initial;
        margin: 1%;
    }
    button{
        display: inline;
    }
    a{
        color: darkred;
        border: lightgreen;
    }
</style>
</head>
<body>
{{ REG }}
{% if REG is not Null %}
    <form action="/">
    <button type="submit">На главную</button>
    </form>
{% endif %}
<a>{{ ERROR }}</a>
<br>
<form method="post">
    {% csrf_token %}
    <label>Name:
        <br>
        <input name="nick" type="text">
    </label>
    <label>Password:
        <br>
        <input name="passw" type="password">
    </label>
    <label>Email:
        <br>
        <input name="email" type="email">
    </label>
    <br><button type="submit">Регистрация</button>
</form>
</body>
</html>